    <div class="container">

      <div class="starter-template">
        <h1>Additional Documentation for  <%= title %></h1>
        <h3>This is all the information you need to know about <%= title %>.</h3>
        <p>Expedita, possimus corporis assumenda obcaecati incidunt. Aut, repudiandae, eveniet esse corporis dolorem at eius. Sed, reiciendis error deleniti impedit adipisci assumenda magnam quae eum natus quam! Impedit, animi, odit, asperiores id commodi repellendus quos dolorum velit modi optio voluptatibus nemo odio atque blanditiis minima? Iusto consequuntur nulla labore quisquam laborum!</p>
        <p>Nemo, amet, fugiat distinctio voluptatem officiis dicta nobis asperiores assumenda recusandae natus officia ea eum vel nostrum veniam soluta sit nihil nisi magni voluptatum esse maxime autem sapiente sint nam cumque et dolor. Excepturi non recusandae aliquid quasi error commodi repellendus enim! Repellat aperiam optio ducimus dolorum atque ullam ex.</p>
    </div><!-- /.container -->
